<form class="border p-2 mb-3 bg-info text-black" >
    <div class="form-group">
    <strong>First Name</strong>
    <input id="firstName" type="text" placeholder="Devesh" class="form-control"/>
    <div class="alert alert-danger">First Name is required*</div>
</div>
<div class="form-group">
    <strong>Comment</strong>
    <textarea name="" id="comment" placeholder="Devesh is an avid Full Stack Developer. Love to learn Emerging Tech Stacks." cols="30" rows="10" class="form-control"></textarea>
</div>
<button class="btn btn-primary">Submit</button>
</form>
